* {
    font-family: 'system-ui', 'open-sans';
    color: white;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/3.Background/Layers/5. Water/D1.png');
    background-size: cover;
}


canvas {
    background-color: lightblue;
}