* {
    font-family: 'system-ui', 'open-sans';
    color: white;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    background-image: url('img/3.Background/Layers/5. Water/D1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    color: #531A82;
    font-size: 3rem;
    margin: 2rem;
    filter: brightness(1.3) drop-shadow(0 0 10px #fff);
}

.startButton-image {
    height: 70px;
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: 999;
}

.startButton-image:hover {
    transform: scale(1.05);
    filter: brightness(1.1) drop-shadow(0 0 8px #fff);
}

.keybindings {
    height: 240px;
}

.d-none {
    display: none !important;
}


canvas {
    background-color: lightblue;
    display: block;
}

button {
    padding: 5px 10px;
    background-color: #0077CC;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#musicButton {
    left: 10rem;
}

button:hover {
    background-color: #005FA3;
}

button:active {
    background-color: #003157;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 720px;
    background-image: linear-gradient(#40C5DB90 5%, #35459690 50%, #5a1d9690 90%);
}

#start-game {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

#gameOverScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: linear-gradient(#40C5DB90 5%, #35459690 50%, #5a1d9690 90%);
    position: absolute;
    width: 720px;
    height: 100vh;
    z-index: 999;

}

#gameWonScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: linear-gradient(#40C5DB90 5%, #35459690 50%, #5a1d9690 90%);
    width: 720px;
    height: 480px;
    position: absolute;
    z-index: 999;
}

#switchSoundMuteButton {
    padding: 10px 15px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 50%;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

#switchSoundMuteButton.muted {
    background-color: rgba(255, 0, 0, 0.623);
}

.tryAgainImage {
    height: 2.5rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.tryAgainImage:hover {
    transform: scale(1.05);
    filter: brightness(1.1) drop-shadow(0 0 8px #fff);
}

#gameOverImage {
    height: 3rem;
}

#gameWonImage {
    height: 100%;
    width: 100%;
}

#restart {
    cursor: pointer;
}

#restartIfWon {
    cursor: pointer;
    position: absolute;
    top: center;
    margin-bottom: 4rem;
}

.buttonDiv {
    display: flex;
    gap: 2rem;
    position: absolute;
    z-index: 999;
    bottom: calc(50% - 240px);
}

#playButton {
    padding: 10px 15px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

#playButton.paused {
    background-color: rgba(255, 0, 0, 0.623);
}

#fullscreenButton {
    position: absolute;
    left: 69%;
    z-index: 999;
    top: 85%;
    margin: 0;
    max-width: min-content;
    opacity: 0.7;
    background-color: #000c11;
}

.turnDevice {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 999;
}

.turnDevice p {
    text-align: center;
}

.landscapeModeImage {
    width: 70%;
    filter: invert();
}

.mobilePanel {
    position: fixed;
    bottom: 0;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100vw - 10%);
    margin-bottom: 1rem;
    z-index: 0;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.leftTop {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.leftBottom {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 15px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowKeys-img {
    width: 45px;
    aspect-ratio: 1 / 1;
    filter: invert();
    background-color: #ffffff79;
    border-radius: 50%;
    padding: 5px;
}

.sword-img{
    width: 55px!important;
}



/* Smartphones------------*/
@media only screen and (max-width: 720px) {
    canvas {
        max-width: 100vw;
    }
    .buttonDiv {
        position: absolute;
        max-height: min-content;
        margin: unset;
        bottom: 0;
    }

    #main-menu {
        height: 100vh;
        width: 100%;
    }

    #title {
        color: #531A82;
        font-size: 2rem;
        margin: 2rem;
        filter: brightness(1.3) drop-shadow(0 0 10px #fff);
    }

    .keybindings {
        display: none;
    }

    #gameOverImage {
        height: 2rem;
    }

    #gameOverScreen {
        gap: 2rem;
        width: 100%;
        height: 100vh;
    }

    .tryAgainImage {
        height: 1rem;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    body {
        max-width: 100vw;
        height: 100vh;
    }
}


/* Smartphones------------*/
@media only screen and (max-height: 1050px) {
    .buttonDiv {
        position: absolute;
        max-height: min-content;
        margin: unset;
        bottom: 0;
    }

    .keybindings {
        display: none;
    }
}


@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .buttonDiv {
        position: absolute;
        max-height: min-content;
        margin: unset;
        bottom: 0;
    }
}